html, body {
	height: 100%;
}

#about {
	padding: 0px;
	margin-bottom: 10px;
	background-image: url("../images/background.jpg");
	/*background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");*/
    background-repeat: no-repeat;
	background-size: cover;
  	background-position: 50% 50%;
}

.contact {
	padding: 0px;
	height: 270px;
	margin-bottom: 0px;
	background-image: url("../images/background.jpg");
	/*background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");*/
    background-repeat: no-repeat;
	background-size: cover;
  	background-position: 50% 50%;
  	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact h1 {
	height: 100px;
  	line-height: 100px;
  	white-space: nowrap;
}

.outline {
	color: black;
	/*text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000;
	*/

}

#intro {
	padding: 0px;
	padding-top: 90px;
	margin-bottom: 0px;
	background-image: url("../images/background-crop.jpg");
	/*background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");*/
    background-repeat: no-repeat;
	background-size: cover;
  	background-position: 50% 50%;
  	height: 100%;
  	font-size: 24px;
  	display: flex;
	flex-direction: column;
	justify-content: center;
}



#intro h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 150%;
}

#intro h4 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
	margin-bottom: -10px;
}

#projects {
	padding-top: 30px;
}

#projects a:link, #projects a:visited, #projects a:hover, #projects a:active {
	text-decoration: none;
}

.navbar .navbar-nav > li > a:hover {
    background-color: transparent;
    font-style: italic;
}


 .navbar .navbar-nav > li > a:visited, .navbar .navbar-nav > li > a:focus,
 .navbar .navbar-nav > li > a:active {
 	background-color: transparent;
 }

.navbar .navbar-nav >.active>a, .navbar .navbar-nav >.active>a:hover,
.navbar-nav >.active>a:active
 {
	/*background-color: transparent*/;
	background-image: none;
	font-style: italic;
}

.navbar-inner {
    background:transparent;
}

.navbar-default > .container-fluid {
	background-color: rgba(231, 231, 231, 0.5);
}

@media (min-width: 768px) {
	.navbar-custom {
		background-color: transparent;
		background-image: none;
		border-color: transparent;
		padding: 5px;
		box-shadow: none;
		
	}

	.navbar {
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-webkit-transition-property: background, padding;
		-webkit-transition-duration: 0.5s, 0.5s;
		-webkit-transition-timing-function: ease-in-out, ease-in-out;
		-webkit-transition-delay: initial, initial;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
}

.navbar .navbar-nav > li > a {
	color: darkslategrey;
	font-size: 20px;
}

.screen {
	width: 99%;
	height: 99%;
	opacity: 0;
	display: block;
	position: absolute;
	background-color: black;
	-webkit-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.screen h1 {
	text-align: center;
	height: 100%;
    line-height: 260px;
    white-space: nowrap;
    color: white;
}

.screen:hover {
	opacity: 0.5;
}

.firstSection {
	padding-top: 60px;
}

.center {
	text-align: center;
}

.linkbutton {
	min-width: 80px;
	min-height: 80px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 50px;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
	border: none;
  	/*
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
}

.linkContainer {
	width: 250px;
	height: auto;
	display: block;
	margin: 0px auto;
}

.linkbutton:hover, .pulse:hover {
	box-shadow: 0 0 0 0 rgba(92, 173, 255, 0.7);
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(92, 173, 255, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(92, 173, 255, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(92, 173, 255, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(92, 173, 255, 0);}}

#github {
	background-image: url("../images/github.png");
}

#linkedIn {
	background-image: url("../images/linkedIn.png");
	border-radius: 0px;
}

.noTopMargin {
	margin-top: 0px;
}

@media (max-width: 992px) {
	#self {
		max-width: 400px;
  		margin-left: auto;
  		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.centerImage {
		max-width: 180px;
  		margin-left: auto;
  		margin-right: auto;
  		float: none;
	}

	.container h1 {
		text-align: center;
	}

	.navbar {
		text-align: center;
	}
}

.footer {
	background-color: #1d1d1d;
	height: 50px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
	color: white;
	margin-bottom: 0px;
}

.thumbnailContainer {
	position: relative;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-indicators {
	/*bottom: -30px;*/ /*-30px*/
}

.carousel-indicators li {
	border: 1px solid #1F909E;
}

.carousel-indicators .active {
  background-color: #1F909E;
}

.carousel {
  padding-bottom: 50px;
}

.centerDiv {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 161px;
	margin-top: 20px;
}

.customBtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.customBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 50px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
